<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select a location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-item *ngIf="meetings">
    <ion-label>Time</ion-label>
    <ion-select [(ngModel)]="meetingId">
      <ion-option *ngFor="let meet of meetings;" [value]="meet.id">{{getTime(meet.meetTime)}}</ion-option>
    </ion-select>
  </ion-item> -->
    <ion-list>
        <inline-edit [(ngModel)]="entity && entity.name"
                      label="Event Name:" [editOptions]="editOptions"
                      [required]="true" type="text">
        </inline-edit>
        <inline-edit [(ngModel)]="entity && entity.description"
                      label="Description:" [editOptions]="editOptions"
                      [required]="true" type="text">
        </inline-edit>
    </ion-list>    

  <ion-item *ngIf="entityId">
      <stripe-card (cardToken)="onTokenReceived($event)" [amount]="platformAmount" [hasExistingCard]="hasExistingCard">
      </stripe-card>
      <button *ngIf="hasExistingCard" ion-button block (click)="enroll()">Enroll</button>
  </ion-item>    
</ion-content>

