<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
      <ng-container *ngIf="entity">  
        <inline-edit [(ngModel)]="entity.name"
                      label="Event Name:" [editOptions]="editOptions"
                      [required]="true" type="text">
        </inline-edit>
        <inline-edit [(ngModel)]="entity.description"
                      label="Description:" [editOptions]="editOptions"
                      [required]="true" type="text">
        </inline-edit>
        <inline-edit [(ngModel)]="entity.meetTime"
          label="Event Time:" [editOptions]="editOptions"
          [required]="true" type="date">
        </inline-edit>
        <ion-button expand="full" *ngIf="editOptions.canEdit" (click)="openLocationPickerModal()">Set Location</ion-button>
      </ng-container>
    </ion-list>    

  <ion-item *ngIf="canEnroll()">
      <ion-button (click)="navigateToEnrollments()">Enroll</ion-button>
  </ion-item>
  <ion-item *ngIf="isVoteBased()">
      <ion-button *ngIf="isEventActive()" (click)="openVoteModal()">Vote</ion-button>
      <ion-label *ngIf="!isEventActive()">Vote Casted</ion-label>
  </ion-item>
</ion-content>

