#map-container {
  height: 70vh;
}
#map {
  height: 80%;
}

.overlay {
  height: 100%;
  width: 100%;
}

ion-avatar {
  position: absolute;
  z-index: 99;
  top: 5vh;
  right: 7vw;
}

// .image {
//   height: 20vh;
// }

#footer {
  height: 10%;
}
