<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
   <ion-title>Pick a location</ion-title> 
  </ion-toolbar>
</ion-header>
<div>
  <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <ion-button *ngIf="!isCreating && options.canCreate" (click)="create()"> Create </ion-button>
  <ion-button *ngIf="isCreating" (click)="save()"> Select </ion-button>
  <ion-button *ngIf="isCreating" (click)="cancel()"> Cancel </ion-button>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <ng-container *ngIf="!isCreating">
        <agm-marker color="Blue" *ngFor="let locationGroup of locationEntitiesMap" (markerClick)="clickedMarker(locationGroup)" 
          [latitude]="locationGroup?.location?.latitude" [longitude]="locationGroup?.location?.longitude">
          
          <agm-snazzy-info-window [closeWhenOthersOpen]="true">
              <ng-template> 
                  <ng-template [ngTemplateOutlet]="infoWindowTemplate || defaultTemplate" [ngTemplateOutletContext]="{group: locationGroup}">
                  </ng-template>
                  <ng-template #defaultTemplate let-group="group"> 
                    <ng-container *ngIf="group">
                        <ion-slides>
                          <ion-slide  *ngFor="let data of group.data">
                              <ion-label>Location: </ion-label>
                              <ion-label>{{group.location.name}} </ion-label>
                              <ion-button (click)="selectLocation(group.location, data)">
                                {{options?.selectLabel || 'Select'}}
                              </ion-button>
                          </ion-slide>
                        </ion-slides>
                    </ng-container>
                  </ng-template>
              </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
    </ng-container>
      <agm-marker *ngIf="isCreating" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)">
      </agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>