<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pick a location</ion-title>
  </ion-toolbar>
</ion-header> -->
<div>
  <div [formGroup]="searchForm">
    <ion-item>
      <ion-label class="ion-item-small" position="floating"
        >Search Nearest Location</ion-label
      >

      <ion-input
        formControlName="autocomplete_input"
        id="autocomplete_input"
        autocomplete="off"
        (keyup)="search()"
      >
      </ion-input>
    </ion-item>
  </div>
  <ion-button
    *ngIf="!isCreating && options.canCreate"
    (click)="create()"
    size="small"
    color="primary"
  >
    Create
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>

  <ion-button *ngIf="isCreating" (click)="save()"> Select </ion-button>
  <ion-button *ngIf="isCreating" (click)="cancel()"> Cancel </ion-button>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <ng-container *ngIf="!isCreating">
      <agm-marker
        color="Blue"
        *ngFor="let locationGroup of locationEntitiesMap"
        (markerClick)="clickedMarker(locationGroup)"
        [latitude]="locationGroup?.location?.latitude"
        [longitude]="locationGroup?.location?.longitude"
      >
        <agm-snazzy-info-window [closeWhenOthersOpen]="true">
          <ng-template>
            <ng-template
              [ngTemplateOutlet]="infoWindowTemplate || defaultTemplate"
              [ngTemplateOutletContext]="{ group: locationGroup }"
            >
            </ng-template>
            <ng-template #defaultTemplate let-group="group">
              <ng-container *ngIf="group">
                <ion-slides>
                  <ion-slide *ngFor="let data of group.data">
                    <ion-label>Location: </ion-label>
                    <ion-label>{{ group.location.name }} 5 </ion-label>
                    <ion-button (click)="selectLocation(group.location, data)">
                      {{ options?.selectLabel || "Select" }}
                    </ion-button>
                  </ion-slide>
                </ion-slides>
              </ng-container>
            </ng-template>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </ng-container>

    <agm-marker
      *ngIf="isCreating"
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    >
    </agm-marker>
  </agm-map>

  <ion-card-title>Address: {{ address }}</ion-card-title>
</div>
