#map-container {
  height: 70vh;
}
#map {
  height: 80%;
}

.overlay {
  height: 100%;
  width: 100%;
}

ion-avatar {
  position: relative;
  z-index: 99;
  top: -25vh;
  left: 68vw;
}

.image {
  height: 30vh;
}

#footer {
  height: 10%;
}

.enroll {
  margin-bottom: 5vh;
}
