<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="dark" (click)="closeModal()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
   <ion-title>Pick a location</ion-title> 
  </ion-toolbar>
</ion-header>
<div>
  <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <ng-container *ngIf="!isCreating">
        <agm-marker color="Blue" *ngFor="let locationPair of options.locationEntityMap" (markerClick)="clickedMarker(locationPair.key)" 
          [latitude]="locationPair?.key?.latitude" [longitude]="locationPair?.key?.longitude">
          
          <agm-info-window>
              <ion-label>Location: </ion-label>
              <ion-label>{{locationPair?.key?.name}} </ion-label>
              <ion-button (click)="selectLocation(locationPair)">{{options.selectLabel}}</ion-button>
          </agm-info-window>
        </agm-marker>
    </ng-container>
      <agm-marker *ngIf="isCreating" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)">
      </agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>