#map-container {
  height: 90vh;
  min-height: 90vh;
  
}
 #map {
  height: 80vh;
  min-height: 80vh;
}


#footer {
  height: 10vh;
  min-height: 10vh;
}

.container {
 position: relative;
width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  top: 3vh;
  right:3vw
}

.enroll {
  margin-bottom: 2vh;
}

// ion-avatar {
//   position: relative;
//   z-index: 99;
//   top: -25vh;
//   left: 68vw;
// }


