<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll header-fix">
  <app-list-base #pageListBase class="messages-page-content" [config]="config" [template]="itemTemplate"></app-list-base>
</ion-content>
<ion-footer>
  <ion-toolbar color="whatsapp" class="messages-page-footer" position="bottom">
    <ion-input [(ngModel)]="messageText" class="message-editor" placeholder="Type a message"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="messageText" class="message-editor-button" (click)="sendTextMessage()">
        <ion-icon name="send"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="!messageText" class="message-editor-button">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ng-template #itemTemplate let-entity="entity">
<ion-item no-lines class="day-wrapper"> 
  <div [class]="'message message-' + entity.$$owner">
    <div class="message-content message-content-text">{{entity.messageText}}</div>
    <span class="message-timestamp">{{ getCreated(entity.created) }}</span>
  </div>
</ion-item>
</ng-template>
