<ion-list>
    <ion-item *ngIf="hasExistingCard">
      <ion-label>Use Existing Card</ion-label>
      <ion-toggle name="useExisting" color="dark" [(ngModel)]="useExisting"></ion-toggle>
    </ion-item>
  </ion-list>
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <div class="form-row" [hidden]="useExisting">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>
  
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      <button type="submit">Pay ${{ amount }}</button>
  </div>
</form>
