<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search (search)="this.config.filter=$event"></app-search>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-list-base [config]="config" [template]="itemTemplate"></app-list-base>
</ion-content>
<ng-template #itemTemplate let-entity="entity">
  <ion-item no-lines> 
    <ion-avatar slot="start">
      <img [src]=entity.profilePictureUrl>
    </ion-avatar>
    <ion-label>{{ entity.email }}</ion-label>
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </ion-item>
</ng-template>