<ion-header>
<ion-toolbar align-title="center">
      <ion-buttons slot="start">
      <ion-button [disabled]="!hasChanged" class="success" (click)="saveAndClose()">
          <ion-icon name="save"></ion-icon>
          Save
      </ion-button>
    </ion-buttons>
    <ion-title> Profile Picture Modal </ion-title>        
    <ion-buttons slot="end">
      <ion-button class="warn" (click)="close()" icon-only>
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
          <!-- [image]="profilePictureOptions" -->
        <image-cropper #cropper
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="4 / 4"
          [resizeToWidth]="256" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
          <div class="file-upload">
          <label for="custom-input" button class="custom-file-upload">
            Select a photo from your device
          </label>
          <input hidden="true" id="custom-input" type="file" (change)="fileChangeEvent($event)" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>