.login-tag{
    position:absolute;
    top: 30px;
    font-size: 2.4em;
}

ion-content.login-background{
    --background: none;
    background-image: url('../../../assets/images/login-page.jpg');
    background-size: cover;
}