<ion-content padding class="login-background no-scroll">
	<h3 class="login-tag">Unleash yourself</h3>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar no-shadow position="bottom">
		<form #form method="post" class="form-horizontal" [action]="loginUrl">
			<div>
			  <p>
          		<button ion-button block (click)="loginProvider = 'StripeConnect';" title="Log in using Stripe">
				  	Stripe Connect
				</button>
				<button ion-button block (click)="loginProvider = 'Google';" title="Log in using Stripe">
					Google
				</button>
				<button ion-button block (click)="form.submit()" title="Log in using Stripe">
					Login 
				</button>
				<input type="hidden" name="provider" [value]="loginProvider">
				<input type="text" name="entryCode" placeholder="Entry Code">
				</p>
			</div>
		</form>
	</ion-toolbar>
</ion-footer>